Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
*.VC.db
*.VC.opendb
*.suo
*.log
*.tmp
*.user
*.userprefs
.DS_Store
Thumbs.db
*.pdb
*.exe
*.dll
Config/DefaultEditor.ini
Config/DefaultEditorPerProjectUserSettings.ini
